.postbuttons{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.postbuttons a{
    border: none;
    background-color: white;
    margin: 7%;
    cursor: pointer;
    color:rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
}
.postbuttons a:hover{
    background-color: rgb(255, 255, 254);
    color: rgb(250, 249, 247);
}
.bigbox{
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bigbox div{
    display: flex;
}
.mainbox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -1.5%;
}
.mainbox div {
    margin: 0.1%;
}